body{
    background-color: hsl(212, 45%, 89%);
}
.parent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50% , -50% );
    -webkit-transform: translate( -50% , -50% );
    -moz-transform: translate( -50% , -50% );
    -ms-transform: translate( -50% , -50% );
    -o-transform: translate( -50% , -50% );
    font-size: 15px;
    max-width: 500px;
    min-width: 500px;
    max-height: 700px;
    min-height: 700px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    background-color: white;
    justify-content: center;
}
.parent h1{
    font-weight: 700;
}
.parent img{
    width: 450px;
    margin: 25px 25px 25px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.parent p{
    font-weight: 300;
    margin-left: 20px;
}
.attribution{
    display: flex;
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100vw;
    justify-content: space-between;
}
.attribution div{
    font-size: 20px;
    margin-left: 8px;
    margin-right: 8px;
    font-weight: 100;
}